@page "/fetchdata"
@using BlazorApp.Shared 
@using System.Globalization
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    

<h1>Radzen Blazor Chart with line series</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            
            <RadzenChart>
                <RadzenLineSeries Smooth="@smooth" Data="@data" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Humidity">
                    <RadzenMarkers MarkerType="MarkerType.Square" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Humidity" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
}

@code {
     bool smooth = false;
    private List<WeatherForecast> data;

    protected override async Task OnInitializedAsync()
    {
      try
      {
        data = await Http.GetFromJsonAsync<List<WeatherForecast>>("/api/record");
      }
      catch (Exception ex)
      {
        Console.WriteLine(ex.ToString());
      }
    }
}
